.mask {
  overflow: hidden;    
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.175);
  .container {
    transition: height 0.25s;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #F9FAFB;
    border-radius: 2.5rem 2.5rem 0rem 0rem;
    .header {
      display: flex;
      justify-content: space-between;
      padding: 3.13rem 3.75rem;
      .text {
        font-size: 4.5rem;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #111A34;
        line-height: 6.25rem;
      }
      .sub-text {
        font-size: 4rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #41485D;
        line-height: 6rem;
      }
    }
    .active-content {
      height: 87.5rem;
      overflow: auto;
      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 87.75rem;
        padding-top: 3.75rem;
        padding-left: 7rem;
        padding-right: 4.5rem;
        padding-bottom: 2.75rem;
        background: #FFFFFF;
        margin: 2.5rem auto;
        box-sizing: border-box;
        .content-1{
          width: 15.5rem;
        }
        .content-2 {
          flex: 1;
          & > * {
            margin: 1rem 0;
          }
        }
        .title {
          font-size: 4rem;
          font-family: PingFangSC-Semibold, PingFang SC;
          font-weight: 600;
          color: #111A34;
          line-height: 5.63rem;
          margin-left: 0rem;
        }
        .type {
          font-size: 3rem;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #666F83;
          line-height: 4.13rem;
        }
        .desc {
          font-size: 3.25rem;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #858B9C;
          line-height: 4.63rem;
        }
        .expires {
          font-size: 3rem;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #858B9C;
          line-height: 4.13rem;
        }
        .no-active-text{
          color: #858B9C;
        }
        .amount-number {
          font-size: 8.75rem;
          font-family: DINPro-Bold, DINPro;
          font-weight: bold;
          color: #F93A4A;
          line-height: 8.75rem;
        }
        .amount-unit{
          font-size: 3.25rem;
          font-family: PingFangSC-Semibold, PingFang SC;
          font-weight: 600;
          color: #F93A4A;
          line-height: 4.63rem;
        }
        [class^="icon-"]{
          width: 5.5rem;
          height: 5.5rem;
        }
        .icon-check {
          background-image: url('./assets/images/check.png');
        }
        .icon-uncheck {
          background-image: url('./assets/images/uncheck.png');
        }
      }
    }
    .no-use {
      padding: 3.25rem 3rem;
    }
  }
}