* {
  padding: 0;
  margin: 0;
}

.page-container {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.goods-container{
  background-color: #f8fafe;
  padding: 24px;
  flex: 1;
  overflow: scroll;
}

.goodscart-container {
  position: relative;
  width: 348px;
  bottom: 0;
  top: 0;
  right: 0;
  padding: 24px;
  padding-bottom: 0;
  max-height: 100vh;
  box-sizing: border-box;
  display: flex;
}

.goodscart-goods-list {
  overflow: scroll;
  flex: 1;
  margin-bottom: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goodscart-order-wrapper {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding: 12px;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.goodscart-order-item {
  display: flex;
}

.goodscart-order-button {    
  background-color: #272cf6;
  border-radius: 8px;
  padding: 12px;
  color: #ffffff;
  margin: 6px 0;
  text-align: center;
  cursor: pointer;
}

.filter-title {
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  min-width: 100px;
  margin-left: 24px;
}

.filter-item {
  display: flex;
}

.default {
  width: 100px;
  color: #212352;
  margin: 2px;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.active {
  background-color: #e8ecfe;
  color:#2e2cf6;
}
