.goods-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.order {
  display: flex;
}

.default {
  width: 100px;
  background-color: lightblue;
  margin: 2px;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
}

.active {
  background-color: cornflowerblue;
}
